{% extends 'master.html'%}
{% block page %} 
Book list
{% endblock page %}

{% block content %}
{% load static %}
<section class="vh-100" style="background-color: #eee;">
    <div class="container py-5 h-100">
      <div class="row w-100 d-flex justify-content-center align-items-center h-100">
        <div class="col-md-12 col-xl-4">
  
          <div class="card" style="border-radius: 15px;">
            <div class="card-body text-center">
              
                <table class="table">
                    <thead>
                      <tr>
                        <th scope="col">#</th>
                        <th scope="col">Title</th>
                        <th scope="col">Author</th>
                        <th scope="col">Language</th>
                        <th scope="col">Area</th>
                        <th scope="col">Status</th>
                      </tr>
                    </thead>
                    <tbody>
                    {% for book in booklist %}
                      <tr>
                        <th scope="row">{{ forloop.counter }}</th>
                        <td>{{book.book_title}}</td>
                        <td>{{book.book_author}}</td>
                        <td>{{book.book_language}}</td>
                        <td>{{book.city}}</td>
                        <td>{% if book.is_active %}
                          <a href="/active/?book_uid={{book.id}}">
                          <i class="fa-solid fa-circle" style="color:green"> </i>
                          </a>
                            {% else %}
                            <a href="/active/?book_uid={{book.id}}">
                            <i class="fa-solid fa-circle" style="color:red"></i>
                            </a>
                            {% endif %}
                        </td>
                      </tr>
                    {% endfor %}
                     
                    </tbody>
                  </table>
               
            </div>
          </div>
  
        </div>
      </div>
    </div>
  </section>

{% endblock content %}
